DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/chitkala?retryWrites=true&w=majority"
RESEND_API_KEY="re_xxxxxxxx"
STUDIO_EMAIL="hello@studiochitkala.com"
FROM_EMAIL="onboarding@resend.dev"
